.d-flex-center p{
    margin-top: 0;
}
.boton-custom{
    margin-left: 10px ;
    margin-right: 10px;
}

.fondo-celeste{
    color: #3ae8f5;;
}

.alejar{
    margin-top: 0;
    margin-top: 0;
}

.reducirTop{
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
